@font-face {
    font-family: titillium-semibold;
    src: url("../fonts/titillium-semibold-webfont.woff");
}

@font-face {
    font-family: josefinslab-bold;
    src: url("../fonts/josefinslab-bold-webfont.woff2");
}

@font-face {
    font-family: source-sans-pro;
    src: url("../fonts/Source-Sans-Pro.woff2");
}

@font-face {
    font-family: footer__socialmedia-link;
    src: url("../fonts/fontawesome-webfont.woff2");
}

html {

}

body {
  font-family: Arial;
  font-size: 16px;
  color: #000;
  background-color: #FFF;
  width: 100%;
  padding: 0;
  margin: 0;
}

section, header, footer {
  width: 100vw;
}


h1 {
  font-size: 3rem;
  margin: 0.8em 0 0.2em 0;
}

h2 {
  text-align: center;     /* will center text in <p>, which is not a flex item */
  color: #85d9bf;
}

h3{}

h4{}

strong {
  color: #85d9bf;
}


.section {

}

  .wrapper {
    width: 100%;
    max-width: 1216px;
    margin: 0 auto;
    padding: 0 25px;
    box-sizing: border-box;
  }

.pageheader {
  background-image: url("../images/background.png");
}

  .pageheader__wrapper {
    color: #FFF;
  }

    .pageheader__menu {
      border-bottom: 1px solid #5C5C66;
      overflow: auto;
      width: 100%;
      display: flex;
      flex-direction: row;     /* make main axis horizontal (default setting) */
      justify-content: space-between;
    }

    .pageheader__logo {
      padding: 40px 16px 50px 46px;
    }

      .logo {

      }

      .logo__link {

      }

      .logo__image {

      }

    .pageheader__menu-toggle {
      padding: 45.5px 16px 45.5px 0;
    }


.fa {

}

.fa-bars {
  display: none;
}

.pageheader__nav {

}

.nav {
}

.nav__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;     /* make main axis horizontal (default setting) */
  justify-content: space-between;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding: 45.5px 30px 45.5px 0px;
}

.nav__list-item {
  display: block;
  color: #D1D0D5;
  text-align: center;
  padding: 0px 20px 0px 20px;
  font-size: 0.7rem;
  font-family: titillium-semibold;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__link {

}

.nav__link--active{
  position: relative;
}

.nav__link--active:after {
  content: '';
  border-bottom: 2px solid #85d9bf;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
}

@media(max-width: 690px) {
  .fa-bars {
    display: flex;
  }
}

.pageheader__content {

}

.content {
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  height: 350px;
}

.content__title {
  text-align: center;
  font-family: josefinslab-bold;
  text-transform: uppercase;
}

.content__text {
  text-align: center;    /* will center text in <p>, which is not a flex item */
  font-family: source-sans-pro;
}

.content__button {
  text-align: center;     /* will center text in <p>, which is not a flex item */
}

.primary-button {

}

.about{

}

.about__wrapper {

}

.about__title {
  font-family: titillium-semibold;
}

.about__preamble {

}

.about__text {

}

.pictures {
  background-color: #f4f3f8;
}

  .pictures__wrapper {
    display: flex;
    flex-flow: wrap;
    padding: 0 12.5px;

  }

  .pictures__half {
    display: flex;
    flex: 0 0 50%;
  }

  @media(max-width: 768px) {
    .pictures__half {
      flex: 0 0 100%;
    }
  }

  .pictures__quarter {
    flex: 0 0 50%;
  }

  .pictures__quarter img {
    box-sizing: border-box;
  }

  .pictures__quarter img:last-child {
  }

  .pictures__half .image, .pictures__quarter .image {
    width: 100%;
    box-sizing: border-box;
    padding: 12.5px;
    font: 0/0 a;
  }

  .pictures__half img, .pictures__quarter img {
    width: 100%;
    height: auto;
  }

.features {

}

.features__wrapper {
  font-family: source-sans-pro;
}

.features__intro {

}

.features__title {
  font-family: titillium-semibold;
}

.features__preamble {
  text-align: center;
}

.features__list-wrapper {

}

.featurelist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;     /* make main axis horizontal (default setting) */
  justify-content: space-around;; /* center items horizontally, in this case */
  align-items: center;     /* center items vertically, in this case */
  height: 200px;
  padding: 40px 40px;
}

.featurelist__item {
  display: flex;
  justify-content: center;
  align-items: center;        /* for single line flex container */
  align-content: center;      /* for multi-line flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  height: 200px;
}

.featurelist__item-image {

}

.featurelist__item-title {

}

.featurelist__item-text {

}

.employee {
  background-color: #f4f3f8;
  padding: 40px 40px;
}

.employee__wrapper {
  font-family: source-sans-pro;
}

.employee__list-wrapper {

}

.employee__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;     /* make main axis horizontal (default setting) */
  justify-content: space-around;; /* center items horizontally, in this case */
  align-items: center;     /* center items vertically, in this case */
  height: 200px;
}

.employee__list-item {
  display: flex;
  justify-content: center;
  align-items: center;        /* for single line flex container */
  align-content: center;      /* for multi-line flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  height: 200px;
}

.employee__quote {

}

.employee__image {

}

.employee__name {

}

.employee__role {

}

.employee__list-item--active {

}

.employee__nav {

}

.employee__nav-indicators {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;     /* make main axis horizontal (default setting) */
  justify-content: center; /* center items horizontally, in this case */
  align-items: center;     /* center items vertically, in this case */
  height: 20px;
}

.employee__nav-indicator {
  display: flex;
  align-items: center;        /* for single line flex container */
  align-content: center;      /* for multi-line flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  height: 20px;
}

.employee__nav-indicator--active {

}

.kicker {
  background-image: url("../images/background.png");
}

.kicker__wrapper {
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
  height: 350px;
}

.kicker__title {
  text-transform: uppercase;
  font-family: josefinslab-bold;
  color: #FFF;
}

.kicker__text {
  font-family: source-sans-pro;
  color: #FFF;
}

.kicker__button {

}

.footer {

}

.footer__wrapper {
  display: flex;
  flex-direction: row;     /* make main axis horizontal (default setting) */
  justify-content: space-between;
  padding: 10px 0px;
}

.footer__copyrights {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 40px;
}

.footer__socialmedia-wrapper {
}

.footer__socialmedia-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;     /* make main axis horizontal (default setting) */
  height: 40px;
}

.footer__socialmedia-item {

}

.footer__socialmedia-link {
  color: #85d9bf;
  font-size: 2rem;
  padding: 0px 5px;
}

.footer__socialmedia-logo {

}
